#game-container {
    margin: auto;
    width: fit-content;
}
.buttons-group {
    margin: 1rem auto;
    width: fit-content;
}
.visual-area {
    display: inline-block;
}
.calculate-area {
    display: inline-block;
    vertical-align: top;
    background-color: #bdf0e9;
    border-left: 3px solid #acd8d2;
}
.score-screen {
    margin: 1rem auto;
    width: 60%;
    text-align: center;
    padding: 0.5rem;
    background: rgb(230, 230, 230);
    border: 3px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(156, 27, 27);
}
.input-block {
    padding: 0.5rem;
    width: fit-content;
    background: #ebdfab;
    border-radius: 3px;
    margin: 40% 2rem;

    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-auto-flow: row;
}
.input-block__display{
    background: rgb(230, 230, 230);
    /* color: white; */
    font-size: 2em;
    padding: 0.3em;
    text-align: right;
    border:1px solid rgb(179, 179, 179);
    grid-column: span 4;
}
.keyboard{
    display: contents;
}
.vertical-span_2 {
    grid-row: span 2;
    font-size: 0.7rem;
}
.horizontal-span_2 {
    grid-column: span 2;
    font-size: 0.7rem;
}
.horizontal-span_4 {
    grid-column: span 4;
}
.keyboard__button{
    background: rgb(255, 255, 255);
    font-size:1em;
    font-weight: 700;;
    border:1px solid rgb(179, 179, 179);
    outline: none;
}
.keyboard__button.small_font {
    font-size: 0.7em;
}
.keyboard__button:hover{
    opacity: 0.9;
}
.keyboard__button:active{
    opacity: 0.8;
}
